{% extends 'base.html' %}

{% block title %}
    Apartments list
{% endblock %}

{% block content %}

    <h1>Apartments list</h1>
    {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
            <a href="/apartments/apartment-create/" class="btn btn-primary">Create new apartment </a>
        {% endif %}
    {% endif %}
    <br><br>

    {% for apartment in object_list %}


        <div class="card d-inline-flex p-2" style="width: 18rem;">
            <img src="{{apartment.apartment_picture.url}}" class="card-img-top">
            <div class="card-body">
            {% if apartment.is_available %}
                <h5 class="card-title  p-3 mb-2 bg-success text-white">Apartment number: {{apartment.door_number}}</h5>
            {% else %}
                <h5 class="card-title  p-3 mb-2 bg-secondary text-white">Apartment number: {{apartment.door_number}}</h5>
            {% endif %}
            <p class="card-text">Rental value: {{apartment.rental_value}}</p>
            <p class="card-text">Garage value: {{apartment.garage_value}}</p>
            <p class="card-text">Expenses value: {{apartment.expenses_value}}</p>
            <p class="card-text">Total value: {{apartment.total_value}}</p>
            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                    <a href="/apartments/apartment-update/{{apartment.id}}" class="btn btn-primary">Update</a>
                    <a href="/apartments/apartment-delete/{{apartment.id}}" class="btn btn-danger">Delete</a>
                {% endif %}
            {% endif %}
        </div>
        </div>



    {% endfor %}

{% endblock %}