{% extends 'base.html' %}

{% block title %}
    Rentals list
{% endblock %}

{% block search %}

{% endblock %}


{% block content %}

    <h1>Rentals list</h1>
    {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
            <a href="/rentals/rent-create/" class="btn btn-primary">Create new rent</a>
        {% endif %}
    {% endif %}
    <br><br>
    {% for rent in object_list %}


        <div class="card  d-inline-flex p-2" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">Apartment: {{rent.apartment.door_number}}</h5>
            <p class="card-text">Tenant: {{rent.tenant.name}} {{rent.tenant.lastname}}</p>
            <p class="card-text">Payday: {{rent.payday}}</p>
            <p class="card-text">Total paid: {{rent.total_paid}}</p>
            {% if rent.has_debt %}
                <h5 class="card-title p-3 mb-2 bg-danger text-white">Debt: {{rent.debt}}</h5>
            {% else %}
                <h5 class="card-title">Debt: {{rent.debt}}</h5>
            {% endif %}
            <p class="card-text">Receipt of payment: {{rent.receipt_of_payment}}</p>
            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                    <a href="/rentals/rent-update/{{rent.id}}" class="btn btn-primary">Update</a>
                    <a href="/rentals/rent-delete/{{rent.id}}" class="btn btn-danger">Delete</a>
                {% endif %}
            {% endif %}
        </div>
        </div>



    {% endfor %}

{% endblock %}