{% extends 'base.html' %}

{% block title %}
    Elements list
{% endblock %}

{% block content %}

    <h1>Apartments list</h1>
    
    {% for apartment in apartments %}
    <ul class="list-group">
        <li class="list-group-item active"><b>Apartment number: {{apartment.door_number}}</b></li>
        <li class="list-group-item">Rental value: {{apartment.rental_value}}</li>
        <li class="list-group-item">Garage value: {{apartment.garage_value}}</li>
        <li class="list-group-item">Expenses value: {{apartment.expenses_value}}</li>
        <li class="list-group-item">Total value: {{apartment.total_value}}</li>
    </ul>
    <br>        
    {% endfor %}
    <h1>Rentals list</h1>
    {% for rent in rents %}
    <ul class="list-group">
        <li class="list-group-item active"><b>Payday: {{rent.payday}}</b></li>
        <li class="list-group-item">Total paid: {{rent.total_paid}}</li>
        <li class="list-group-item">Debt: {{rent.debt}}</li>
        <li class="list-group-item">Receipt of payment: {{rent.receipt_of_payent}}</li>
    </ul>
    <br>    
    {% endfor %}
    <h1>Tenants list</h1>
    {% for tenant in tenants %}    
    <ul class="list-group">
        <li class="list-group-item active"><b>Name: {{tenant.name}}</b></li>
        <li class="list-group-item">Lastname: {{tenant.lastname}}</li>
        <li class="list-group-item">E-mail: {{tenant.email}}</li>
        <li class="list-group-item">Phone: {{tenant.phone}}</li>
    </ul>
    <br>               
    {% endfor %}
{% endblock %}