{% extends 'base.html' %}

{% block title %}
    Tenants list
{% endblock %}

{% block search %}

{% endblock %}


{% block content %}

    <h1>Tenants list</h1>
    {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
            <a href="/tenants/tenant-create/" class="btn btn-primary">Create new tenant</a>
        {% endif %}
    {% endif %}
    <br><br>

    {% for tenant in object_list %}


        <div class="card d-inline-flex p-2" style="width: 18rem;">
            <img src="{{tenant.tenant_picture.url}}" class="card-img-top">
            <div class="card-body">
            <h5 class="card-title">Name: {{tenant.name}}</h5>
            <p class="card-text">Lastname: {{tenant.lastname}}</p>
            <p class="card-text">E-mail: {{tenant.email}}</p>
            <p class="card-text">Phone: {{tenant.phone}}</p>
            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                    <a href="/tenants/tenant-update/{{tenant.id}}" class="btn btn-primary">Update</a>
                    <a href="/tenants/tenant-delete/{{tenant.id}}" class="btn btn-danger">Delete</a>
                {% endif %}
            {% endif %}
        </div>
        </div>



    {% endfor %}

{% endblock %}